<H2>Cities</H2>

<!-- <table>
  <tr>
    <th>Name</th>
  </tr>
  <% for city in @cities %>
  <tr>
    <td><a href="/cities/<%= city.id %>"><%= city.name %></a></td>
  </tr>
  <% end %>
</table> -->

<% @cities.each do |city| %>
  <p>Name: <%= city.name() %></p>
  <p><a href="/cities/new<%= city.id %>">Add a new City</a></p>
  <p><a href="/cities/edit<%= city.id %>">Update an existing City</a></p>
  <hr />
<% end %>
